{% extends 'baseBack.html.twig' %}

{% block title %}New Discussion{% endblock %}

{% block body %}
    <h1>Create new Discussion</h1>

    {{ include('disc2/_form.html.twig') }}

    <a href="{{ path('app_disc2_index') }}">back to list</a>
{% endblock %}
